.react-flow__node-Frontend {
  font-size: 12px;
  background: #f5a59d;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: left;
  width: 230px;
  height: 160px;
  padding: 10px;
}

.react-flow__node-Backend {
  font-size: 12px;
  background: #9fa6ff;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: left;
  width: 230px;
  height: 120px;
  padding: 10px;
}

.react-flow__node-Database {
  font-size: 12px;
  background: #fce86c;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: left;
  width: 230px;
  height: 120px;
  padding: 10px;
}
